/* Header and buttons */
.centerbox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.withinbox {
  border: 1px solid gray;
  padding: 20px;
  flex-basis:40em;

}
.title {
  text-align: center;
  color:#AF63FC;
  font-family: Lobster;
}

.buttons{
  display: flex;
  justify-content: center;
}
.btn {
  text-align: center;
  margin:10px;
  width: 80px;
  font-family: Acme;
}

.All {
  background-color: #A4D6F9;
}

.Online {
  background-color: #A0F9A9;
}

.Offline {
  background-color: #FB967B;
}

/* Information boxes on each user */
.Streamers {
  display: flex;
  flex-direction: column;
  }

.links{
  color:black;
}

.links:hover {
  text-decoration: none;
  color:black;
}
.on {
  background-color: #A0F9A9;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-family: Acme;
  }

.on:hover {
  background-color: white;
}

.status {
  font-size: 14px;
}

.off {
  background-color: #FB967B;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-family: Acme;
  }

.off:hover {
  background-color: white;
}

.deleted {
  background-color: #A4D6F9;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  }

.img{
  max-width: 100px;
}

.name {
  float: right;
}
